/* General */

* {
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    
    grid-template-areas: 
        " header header header "     
        ". about-us ." 
        "stats-margin-left statictics stats-margin-right"
        ". services .";
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/* General - Section */

section{
    padding:60px 0 ;
}
.section-headers,
.section-text-content{
    text-align: center;
}

.section-headers h3,
.section-headers h4{
    margin:0px;
}

.section-headers h4{
    text-transform: capitalize;
    font-size: 16px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 100;
    
    /*margin-top:60px;*/
    margin-bottom:16px;
}

.section-headers h3{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
    margin-bottom:27px;
}



.section-headers hr{
    background-color: #f38181;
    width:5%;
    height: 2px;
    border: 0;
    
    margin-bottom:27px;
}

.section-text-content p{
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#999999;
    
    padding:0 110px;
    
    margin-bottom:100px;
}


/* Header */

header {
    grid-area: header;

    background-image: url(../img/header/header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
}

#gradient-mask {
    height: 100%;
    background: linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.9));
    position: relative;
}

#header-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#header-content h1 {
    text-transform: uppercase;
    font-size: 94px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#header-content h2 {
    text-transform: capitalize;
    font-size: 45px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}

#header-content h2,
#header-content h1 {
    margin: 0;
    color: white;
}

/* Navigation */

nav {
    display: grid;
    grid-template-columns: 15vw 2fr 4fr 15vw;
    grid-template-rows: auto;

    grid-template-areas: ". logo menu .";

    width: 100vw;
    position: fixed;
}

nav ul {
    display: inline-block;
    list-style: none;
    color: white;
}

#nav-ul-logo {
    grid-area: logo;
    padding:0;
}

#nav-ul-menu {
    grid-area: menu;
    text-align: right;
}

#nav-ul-logo li {
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.nav-ul-menu-item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 0 15px;
}

.nav-ul-menu-item a {
    color: white;
    text-decoration: none;

    transition: all .5s;
}

.nav-ul-menu-item a:hover {
    color: rgb(252, 227, 138);
}

#search-form-off {
    display: none;
}

#search-form-on {
    display: block;
}

#nav-ul-menu .search-form {
    background-color: rgba(252, 227, 138, 0.2);
    border: solid 1px white;
    border-radius: 15px;
    color: white;
    height: 2em;
    padding: 3px;
}

#nav-ul-menu .active a {
    color: rgb(252, 227, 138);
    border-bottom: 1px solid rgb(252, 227, 138);
    padding-bottom: 5px;
}

/* Section About Us */

#about-us{
    grid-area: about-us;
}

#about-us-content{
    display:grid;
    
    grid-template-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-rows: auto;

    grid-template-areas: 
        "img-item1 . img-item2 . img-item3";
}

.about-us-img-item{
    grid-area: img-item;
    
    height: 180px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#img-item1 {
    background-image: url(../img/section-about-us/img-1.jpg);
    grid-area: img-item1;
}

#img-item2 {
    background-image: url(../img/section-about-us/img-2.jpg);
    grid-area: img-item2;
}

#img-item3 {
    background-image: url(../img/section-about-us/img-3.jpg);
    grid-area: img-item3;
}

.img-item-mask{
    background: linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.9));
    -webkit-box-shadow: 6px 6px 2px 0px rgba(149, 225, 211, 1);
    -moz-box-shadow: 6px 6px 2px 0px rgba(149, 225, 211, 1);
    box-shadow: 6px 6px 2px 0px rgba(149, 225, 211, 1);
    height: 100%;
    position:relative;
    
    opacity: 0 ;
    transition: opacity 1s;
}

.img-item-mask:hover{
    opacity:1;
}

.img-item-content{
    color:white;
    text-align: center;
    
    position:absolute;
    top:50%;
    left:50%;
    
    transform: translate(-50%,-50%);
}

.img-item-content h5{
    margin:0;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.img-item-content i{
    font-size: 20px;
     margin-bottom:5px;
}

/* Section Statistics */

#statistics{
    grid-area:statictics;

    height: 180px ;
    width:100%;
    padding:0;
}

#stats-container{
    display: grid;
    grid-template-columns:1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px ;
    grid-template-rows: auto;
    
    grid-template-areas: 
        ". itemst1 . itemst2 . itemst3 . itemst4 . itemst5  .";
    
    width:100%;
    height:100%;

}

.stats-item,
.stats-margin{
    background-color: #95e1d3;
}

#stats-margin-left{
    grid-area:stats-margin-left;
}
#stats-margin-right{
    grid-area:stats-margin-right;
}

.itemST1{grid-area:itemst1;}
.itemST2{grid-area:itemst2;}
.itemST3{grid-area:itemst3;}
.itemST4{grid-area:itemst4;}
.itemST5{grid-area:itemst5;}

.stats-item{
    position:relative;
}

.stats-item-cont{
    
    position:absolute;
    width:100%;
    
    top:50%;
    left:50%;
    
    transform: translate(-50%,-50%);
}

.stats-item h5,
.stats-item h6{
    font-family: 'Montserrat', sans-serif;
    color:white;
    margin:0;
    text-align: center ;

}

.stats-item h5{
    font-size: 48px;
    font-weight: 700;  
}

.stats-item h6{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;  
}

/* Section services */

#services{
    grid-area:services ;
}

#services-content{
    display: grid ;
    
    grid-template-columns: repeat(3, 1fr)  ;
    
    grid-gap: 10px;
    

}


.all-items{
    display: grid;
    grid-template-columns: 1fr 4fr ;
    
    grid-template-areas: 
        "all-i all-h5"
        ". all-p";
}


.all-items i{
    grid-area: all-i;
    
    margin:auto;
    font-size: 26px;
    color: #95e1d3;
    
    margin-bottom: -2px ;
    
}
.all-items h5{
    grid-area: all-h5;

    font-size: 10px ;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    color:  #333333;
    
    margin-bottom: 12px ;
    
    
}
.all-items p{
    grid-area: all-p ;

    font-family: Roboto;
    font-size: 11px;
    font-weight: 400 ;
    color:  #999999;
    
    margin-top: 0 ;
}

.content-line{
      grid-column-start: 1; 
      grid-column-end: 4;
}

.content-line hr{
    background-color:#e5e5e5;
    height: 1px;
    
    border-width: 0 ;
}






